<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h2 align="center">Connexion</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Nom utilisateur" required align="center">
        <br><br>

        <input type="password" name="password" placeholder="Mot de passe" required align="center">
        <br><br>

        <button type="submit" align="center">Se connecter</button>
    </form>

    <br>

    <p align="center">Pas de compte ? <a href="/register">Créer un compte</a></p>

</body>
</html>